@{
    ViewBag.Title = "Contractors Home Page";
    Layout = "~/Views/Shared/_ContractorManagerLayout.cshtml";
}

<div class="dashboard3Col">
    <div class="dashboardCol">
        @Html.Action("ContractorsDashboard")
    </div>
</div>