@model Agilisium.TalentManager.Web.Models.ContractorWidgetModel

<div class="dashboardItem">
    <div class="dashboardItemHeader">Our Strength</div>
    <div class="dashboardItemBody">
        <table class="tbl">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ActiveContractors)
                </td>
                <td>:</td>
                <td>@Html.DisplayFor(model => model.ActiveContractors)</td>
            </tr>
        </table>
        <div>
            @Html.ActionLink("View All", "List", null, new { @style = "color:darkblue" })
            <div style="co" class="pull-right">
                @Html.ActionLink("+Add New", "Create", null, new { @style = "color:darkblue" })
            </div>
        </div>
    </div>
</div>